body {
  background-image: url(https://i.7fon.org/1000/g39066.jpg);
  /* background-color: rgb(38, 32, 32); */
  width: 100% !important;
  height: 100% !important;
}
.cardMedia {
  width: 300px !important;
  height: 300px !important;
}
.titleText {
  color: aliceblue;
}
.imageDetails {
  width: 350px;
  height: 400px;
}
/* .contFull {
  display: grid !important;
} */
.filter {
  box-sizing: border-box;
  background-color: #22212198;
  width: 20%;
  height: 220px;
  margin-top: 50px;
  padding: 20px;
  margin-left: 20px;
  border-radius: 25px;
}
image {
  width: 100vh !important;
  height: 100vw !important;
}
